<!DOCTYPE html>
<html>
<head>
    <title>Appointments</title>
</head>

<body>

<h2>Your Appointments</h2>

<!-- UPCOMING -->
<h3>Upcoming</h3>

{% for appt in upcoming %}
    <div style="border:1px solid #ccc; padding:12px; margin-bottom:12px;">

        <p><b>Doctor:</b> {{ appt.doctor.name }}</p>
        <p><b>Date:</b> {{ appt.appointment_date }}</p>
        <p><b>Time:</b> {{ appt.appointment_time }}</p>

        <a href="{% url 'reschedule_appointment' appt.appointment_id %}">
            Reschedule
        </a>

    </div>
{% empty %}
    <p>No upcoming appointments.</p>
{% endfor %}


<!-- PAST -->
<h3>Past Appointments</h3>

{% for appt in past %}
    <div style="border:1px solid #aaa; padding:12px; margin-bottom:12px;">

        <p><b>Doctor:</b> {{ appt.doctor.name }}</p>
        <p><b>Date:</b> {{ appt.appointment_date }}</p>
        <p><b>Time:</b> {{ appt.appointment_time }}</p>

        {% if appt.status != "completed" %}
            <a href="{% url 'mark_completed' appt.appointment_id %}" style="color:green;">
                Mark as Completed
            </a>

            <a href="{% url 'reschedule_appointment' appt.appointment_id %}" style="color:orange; margin-left:10px;">
                Reschedule
            </a>
        {% else %}
            <p style="color:green;">✔ Completed</p>
        {% endif %}

    </div>
{% empty %}
    <p>No past appointments.</p>
{% endfor %}

</body>
</html>