{% extends "admin_dashboard/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container" style="max-width:700px;margin:auto;">

    <h2>{{ title }}</h2>

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button class="btn btn-primary">
            {{ button }}
        </button>

        <a
            href="{% url 'admin_hospitals' %}"
            class="btn btn-secondary">

            Cancel

        </a>

    </form>

</div>

{% endblock %}