<div class="navbar-nav mr-auto">
    <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
    <a class="nav-item nav-link" href="{% url 'hospital_list' %}">Hospitals</a>
    <a class="nav-item nav-link" href="{% url 'doctor_list' %}">Doctors</a>
    <a class="nav-item nav-link" href="/about/">About</a>
</div>

<div class="navbar-nav">
    {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="{% url 'patient_dashboard' %}">Dashboard</a>
        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
    {% endif %}
</div>