<a href="{% url 'hospital_list' %}">← Back to Hospitals</a>

<h2>{{ hospital.name }}</h2>
<p>{{ hospital.address }}</p>

<hr>


<form method="GET">

    <input type="text" name="search"
           placeholder="Search doctor name or specialization"
           value="{{ search }}">

    <button type="submit">Search</button>

    <br><br>

    <select name="department">
        <option value="">All Departments</option>

        {% for dept in departments %}
            <option value="{{ dept.id }}"
                {% if dept.id|stringformat:"s" == dept_id %}selected{% endif %}>
                {{ dept.name }}
            </option>
        {% endfor %}
    </select>

    <button type="submit">Filter</button>

</form>

<hr>

<h3>Doctors in {{ hospital.name }}</h3>


{% if dept_id %}
    <h4 style="color:#444;">
        🔎 Doctors are ranked by experience,  qualification and fees
    </h4>
{% endif %}

{% for doctor in doctors %}
<div style="border:1px solid #ddd; padding:15px; margin:10px; border-radius:10px;">

  
    <a href="{% url 'doctor_detail' doctor.doctor_id %}">
        <b style="font-size:18px;">{{ doctor.name }}</b>
    </a>

  
    {% if dept_id and forloop.counter == 1 %}
        <span style="color:green; font-weight:bold;"> 🏆 Top Doctor</span>
    {% endif %}

    <br><br>

    {% if dept_id %}
        <b>Rank:</b> #{{ forloop.counter }} <br>
    {% endif %}

    <b>Specialization:</b> {{ doctor.specialization }} <br>
    <b>Department:</b> {{ doctor.department.name }} <br>
    <b>Experience:</b> {{ doctor.experience_years }} years <br>
    <b>Qualification:</b> {{ doctor.qualification }} <br>
    <b>Fees:</b> Rs. {{ doctor.fees }} <br>

</div>

{% empty %}
    <p>No doctors found in this hospital</p>
{% endfor %}