<a href="{% url 'home' %}">Home</a> |
<a href="{% url 'hospital_list' %}">Hospitals</a> |
<a href="{% url 'doctor_list' %}">Doctors</a>

{% if messages %}
    {% for message in messages %}
        <script>
            alert("{{ message }}");
        </script>
    {% endfor %}
{% endif %}

<h2>Welcome, {{ patient.name }}</h2>

<h3>Upcoming Appointments ({{ upcoming_count }})</h3>

{% if upcoming %}
    {% for appt in upcoming %}
        <a href="{% url 'appointment_detail' appt.appointment_id %}" style="text-decoration:none; color:black;">
            <div style="border:1px solid #ccc; padding:15px; margin-bottom:10px; border-radius:8px; cursor:pointer;">
                <p><strong>Doctor:</strong> {{ appt.doctor.name }}</p>
                <p><strong>Date:</strong> {{ appt.appointment_date }}</p>
                <p><strong>Time:</strong> {{ appt.appointment_time }}</p>
            </div>
        </a>
    {% endfor %}
{% else %}
    <p>No upcoming appointments</p>
{% endif %}


<h3>Past Appointments</h3>

{% if past %}
    {% for appt in past %}
        <div style="border:1px solid #ccc; padding:15px; margin-bottom:10px; border-radius:8px;">
            <p><strong>Doctor:</strong> {{ appt.doctor.name }}</p>
            <p><strong>Date:</strong> {{ appt.appointment_date }}</p>
            <p><strong>Time:</strong> {{ appt.appointment_time }}</p>
        </div>
    {% endfor %}
{% else %}
    <p>No past appointments</p>
{% endif %}

<br>

<a href="{% url 'doctor_list' %}">Book Appointment</a><br><br>
<a href="{% url 'logout' %}">Logout</a>